spring:
  datasource:
    username: ${MYSQL_USERNAME:}
    password: ${MYSQL_PASSWORD:}
    url: ${MYSQL_URL:}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maxLifetime: 600000
      idleTimeout: 600000
      ConnectionTestQuery: SELECT 1
  application:
    name: hotta-data-admin
  data:
    redis:
      database: 5
      host: ${REDIS_HOST:}
      port: ${REDIS_PORT:}
    mongodb:
      uri: ${MONGODB_URI:}
  cache:
    type: redis

server:
  port: 5777
  tomcat:
    max-swallow-size: -1

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl

logging:
  config: classpath:Log4j2-spring.xml
  level:
    org.mybatis: DEBUG
    org.apache.ibatis: DEBUG
    com.hollow.build.mapper: DEBUG

com:
  hollow:
    token:
      secret-key: ${TOKEN_KEY:}
      validity-access-token: 60 # 皆为分钟
      validity-refresh-token: 480 # 皆为分钟
      username-max-attempt: 10
      ip-max-attempt: 5
      ttl-seconds: 15 # 皆为分钟
    open-api:
      enabled: false
      api-version: 0.0.1
      title: hotta-data-admin
      description: 试试限流
    minio:
      endpoint: ${MINIO_ENDPOINT:}
      access-key: ${MINIO_ACCESSKEY:}
      secret-key: ${MINIO_SECRETKEY:}
    ai:
      api-key: ${AI_APIKEY}
      model: ${AI_MODEL}
      uri: ${AI_URI}
      default-prompt: ${AI_DEFAULTPROMPT}
      proxy-address: ${AI_PROXYADDRESS}
