<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hollow.build.repository.mysql.BlogMapper">

    <!-- 统计总数 -->
    <select id="getBlogDateMenu" resultType="com.hollow.build.dto.BlogDateMenuDto">
        SELECT DATE_FORMAT(created_at, '%Y-%m') AS `year_month`, COUNT(*) AS count
        FROM blog_posts
        WHERE del_flag = '0'
        GROUP BY DATE_FORMAT(created_at, '%Y-%m') ORDER BY DATE_FORMAT(created_at, '%Y-%m') DESC
    </select>


    <select id="getBlogDateListByDate" resultType="com.hollow.build.dto.BlogDateListDto">
        select blog_id,title,summary,created_at  from blog_posts where del_flag = '0'  AND DATE_FORMAT(created_at, '%Y-%m') = #{date}
    </select>


    <select id="selectBlogById" resultType="com.hollow.build.entity.mysql.BlogPost">
        select *  from blog_posts where del_flag = '0' and  blog_id = #{articleId}
    </select>



    <select id="selectBlogByKeyWord" resultType="com.hollow.build.dto.BlogDateListDto">
        SELECT
            blog_Id,
            title,
            CASE
                WHEN content LIKE CONCAT('%', #{keyWord}, '%') THEN
                    SUBSTRING(content,
                              GREATEST(LOCATE(#{keyWord}, content) - 40, 1),
                              80 + LENGTH(#{keyWord})
                    )
                ELSE summary
                END AS summary,
            created_at
        FROM blog_posts
        WHERE del_flag = '0'
          AND (title LIKE CONCAT('%', #{keyWord}, '%') OR content LIKE CONCAT('%', #{keyWord}, '%'))
    </select>


    <select id="getCountBlog" resultType="java.lang.Integer">
        SELECT count(*) FROM blog_posts b WHERE b.del_flag = '0'
        <if test="searchName != null and searchName != ''">
            and b.title like concat('%',#{searchName},'%')
        </if>
    </select>



    <select id="getBlogInfoByPage" resultType="com.hollow.build.dto.BlogDateListDto">
        SELECT * FROM blog_posts b
        WHERE del_flag = '0'
        <if test="searchName != null and searchName != ''">
            and w.title like concat('%',#{searchName},'%')
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <insert id="addBlogPost" parameterType="com.hollow.build.entity.mysql.BlogPost" useGeneratedKeys="true" keyProperty="blogId">
        INSERT INTO blog_posts
        (title, summary, content, created_at)
        VALUES
            (#{title}, #{summary}, #{content}, NOW())
    </insert>


    <update id="updateBlog">
        UPDATE blog_posts
        SET
            title = #{blogPost.title},
            summary = #{blogPost.summary},
            content = #{blogPost.content}
        WHERE blog_id = #{blogId}
    </update>


    <update id="deleteBlog">
        UPDATE blog_posts
        SET del_flag = '1'
        WHERE blog_id IN
        <foreach item="id" collection="blogList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>
