<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hollow.build.mapper.WeaponsMapper">


    <!--联表笛卡尔积查询方法 数据量大时不能用，只查询一次    -->

    <resultMap id="weaponResultMap" type="com.hollow.build.dto.WeaponsResponseDto">
        <!-- 主表字段映射 -->
        <id property="itemKey" column="item_key"/>
        <result property="itemName" column="item_name"/>
        <result property="itemRarity" column="item_rarity"/>
        <result property="weaponCategory" column="weapon_category"/>
        <result property="weaponElementType" column="weapon_element_type"/>
        <result property="weaponElementName" column="weapon_element_name"/>
        <result property="weaponElementDesc" column="weapon_element_desc"/>
        <result property="armorBroken" column="armor_broken"/>
        <result property="charging" column="charging"/>
        <result property="itemIcon" column="item_icon"/>
        <result property="description" column="description"/>
        <result property="remouldDetail" column="remould_detail"/>

        <!-- 武器星级列表 -->
        <collection property="weaponUpgradeStarPack" ofType="com.hollow.build.dto.WeaponUpgradeStarPackDto">
            <result property="itemName" column="star_item_name"/>
            <result property="itemDescribe" column="star_item_describe"/>
        </collection>

        <!-- 武器技能列表 -->
        <collection property="weaponSkills" ofType="com.hollow.build.dto.WeaponSkillDto">
            <result property="skillType" column="skill_type"/>
            <result property="itemName" column="skill_item_name"/>
            <result property="itemDescribe" column="skill_item_describe"/>
        </collection>

        <!-- 武器通感列表 -->
        <collection property="weaponSensualityLevelDataList" ofType="com.hollow.build.dto.WeaponSensualityLevelDataDto">
            <result property="itemName" column="sensuality_item_name"/>
            <result property="itemDescribe" column="sensuality_item_describe"/>
        </collection>
    </resultMap>

    <select id="selectWeaponWithDetailsByKey" resultMap="weaponResultMap">
        SELECT
        w.*,

        <!-- 星级字段 -->
        star.item_name as star_item_name,
        star.item_describe as star_item_describe,

        <!-- 技能字段 -->
        skill.skill_type,
        skill.item_name as skill_item_name,
        skill.item_describe as skill_item_describe,

        <!-- 通感字段 -->
        sensuality.item_name as sensuality_item_name,
        sensuality.item_describe as sensuality_item_describe

        FROM
        weapons w
        LEFT JOIN weapon_upgrade_star_pack star ON w.weapons_id = star.weapons_id
        LEFT JOIN weapon_skill skill ON w.weapons_id = skill.weapons_id
        LEFT JOIN weapon_sensuality_level_data sensuality ON w.weapons_id = sensuality.weapons_id
        WHERE w.item_key = #{itemKey} order by w.weapons_id, star.upgrade_star_id, skill.skill_id, sensuality.sensuality_id
    </select>

    <!--批量分步查询-->


    <select id="findWeaponsAll" resultType="com.hollow.build.entity.Weapons">
        SELECT * FROM weapons
    </select>


    <select id="findWeaponSkillsByWeaponsId" resultType="com.hollow.build.entity.WeaponSkill">
        SELECT *
        FROM weapon_skill
        WHERE weapons_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findWeaponSensualitiesByWeaponsId" resultType="com.hollow.build.entity.WeaponSensualityLevelData">
        SELECT *
        FROM weapon_sensuality_level_data
        WHERE weapons_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findWeaponUpgradeStarsByWeaponsId" resultType="com.hollow.build.entity.WeaponUpgradeStarPack">
        SELECT *
        FROM weapon_upgrade_star_pack
        WHERE weapons_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>





</mapper>
